@charset "UTF-8";
.billingReservation {
	width: 100%;
	height: auto;
}

.billingReservationMaindoor {
	height: 162px;
	margin: 45px 515px 0px 515px;
	border: 1px solid white;
}

.investPick {
	margin: 30px 0px 0px 300px;
	width:100px;
	height:100px;
	border-radius:50px;
	border: 3px dotted gray;
	float: left;
	text-align: center;
	line-height: 100px;
	background-color: white;
	color:black;
	
}

.billingReservations {
	margin: 30px 0px 0px 0px;
	width:100px;
	height:100px;
	border-radius:50px;
	border: 1px solid #00c4c4;
	float: left;
	text-align: center;
	line-height: 100px;
	background-color: #00c4c4;
	color:white;
}
.mid{
	margin: 30px 0px 0px 0px;
	width:100px;
	height:100px;
	float: left;
	text-align: center;
	line-height: 100px;
	
}
.billingReservationBody{
	height: 1100px;
	margin: 5px 626px 0px 626px;
	border-top: 1px solid black;
}
.ordergoods{
	color: #00c4c4;
	font-size: 14px;
	margin:0px 0px 8px 0px;
}
.orderConfiguration{
	color: #686868;
	font-size: 12px;
	margin:0px 0px 20px 0px;
}
.sum{
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}
.orderEm{
	font-style: normal;
	padding-right: 20px;
	font-weight: bold;
}
.orderTable{
	width:100%;
}
.finalOrderTable{
	width:100%;
	border-top: 1px dashed black;
}
.orderTable td{
	padding: 15px 15px 15px 15px;
}
.finalOrderTable td{
	padding: 7px 15px 7px 15px;
	background-color: #ececec;
}
.tdL{
	text-align: left;
}
.tdR{
	text-align: right;
}
.FtdL{
	text-align: left;
	color: #00c4c4;
}
.FtdR{
	text-align: right;
	color: #00c4c4;
	font-size:22px;
}
.deliveryTable{
	margin-top:50px;
	border-top: 1px dashed black;
	width:100%;
	height: 300px;
}
.deliveryTable td{
	padding-top:10px;
	padding-left:100px;
}
.name{
	width:400px;
	height:34px;
	padding:0px 15px 0px 15px;
	margin:0px 0px 15px 0px;
	outline-color: green;
}
.phone{
	width:400px;
	height:34px;
	padding:0px 15px 0px 15px;
	margin:0px 0px 15px 0px;
	outline-color: green;
}
.searchAddress{
	width: 110px;
	height: 36px;
	padding:0px 15px 0px 15px;
	background: #9F9583;
	border-radius: 3px;
	color:white;
	font-size:14px;
	outline-color: green;
}
.addressShow{
	width:400px;
	height:34px;
	padding:0px 15px 0px 15px;
	margin:15px 0px 15px 0px;
}
.plusAddress{
	width:400px;
	height:34px;
	padding:0px 15px 0px 15px;
	margin:15px 0px 15px 0px;
	outline-color: green;
}
.paymentBtn{
	width: 100%;
	margin-left:220px;
	margin-top: 100px;
}
.payment{
	width: 100px;
	height: 50px;
	text-align:center;
	background-color: #00c4c4;
    color: #fff;
}