@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.studio_header {
	width: 100%;
	height: 150px;
	border: 1px solid white;
	background-color: black;
}

.studio_header li {
	width: 25%;
	height: 100%;
	font: '맑은 고딕';
	font-size: 30px;
	line-height: 150px;
	float: left;
	list-style: none;
	color: white;
}

.main {
	text-align: center;
}

.company {
	text-align: center;
}

.mainHome {
	text-align: right;
}

.exit {
	text-align: center;
}

.studio_header ul {
	
}

.studio_header a {
	text-decoration: none;
	color: white;
}


